<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/style.css' />
    <script type='text/javascript' src='/application.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
